.sectionProjects {
  margin: 0 13.5%;
}
.heading1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 36px;
}
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}
.article1 {
  direction: rtl;
}
.website {
  width: 100%;
  padding: 2rem;
}
.part2 {
  width: 50%;
  text-align: center;
  line-height: 40px;
}
/* copyright */
.heading5 {
  margin: 1rem 0;
  text-align: center;
}
/* background color for screenshot */
.part1 {
  width: 50%;
  border-radius: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* span for languages */
.tools {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.span {
  padding: 5px;
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: default;
}
.span:hover {
  background-color: #000000;
  color: white;
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}
.icon:hover {
  transition-duration: 0.4s;
  transform: scale(1.3);
  color: #3f3f3f;
}

@media (max-width: 1100px) {
  .article {
    flex-direction: column;
  }
  .article1 {
    flex-direction: column-reverse;
  }
  .part1,
  .part2 {
    width: 100%;
    padding: 1rem 0;
  }
}
