.logoPng {
  margin-top: 10px;
  width: 60px;
  transition: transform 0.8s ease-in-out;
}
.logoPng:hover {
  transform: rotate(360deg);
  transform: rotate(360deg);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 13%;
}
.lists {
  display: flex;
  list-style: none;
}
.li {
  margin: 0px 30px;
  font-weight: 800;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}
.li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.li:hover::after {
  width: 100%;
}
/* navbar column */
.menu_icon {
  color: black;
  justify-content: center;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
.listsColumn {
  list-style: none;
  background: white;
  margin-top: 80px;
  height: 12rem;
  background-color: black;
  z-index: 1;
  padding: 1rem;
  position: absolute;
  top: 12px;
  right: 0;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  left: 0px;
}
.liColumn {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 0;
  display: block;
  width: 100%;
  margin: 2rem 0;
}
.iconsFa {
  cursor: pointer;
}

@media (max-width: 992px) {
  .menu_icon {
    display: flex;
  }
  .lists {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
}
