.logoPng {
  margin-top: 10px;
  width: 60px;
  transition: transform 0.8s ease-in-out;
}
.logoPng:hover {
  transform: rotate(360deg);
  transform: rotate(360deg);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 13%;
}
.lists {
  display: flex;
  list-style: none;
}
.li {
  margin: 0px 30px;
  font-weight: 800;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}
.li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.li:hover::after {
  width: 100%;
}
/* navbar column */
.menu_icon {
  color: black;
  justify-content: center;
  font-size: 22px;
  display: none;
  cursor: pointer;
}
.listsColumn {
  list-style: none;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 450px;
}
.logoHide {
  display: block;
}
.liColumn {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.iconsFa {
  cursor: pointer;
}

@media (max-width: 992px) {
  .menu_icon {
    display: flex;
  }
  .lists {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
}
